body{
	height: 100%;
	font-size: 16px;
	font-family: monospace;
}

/* Make font sizes smaller on small devices*/
@media (max-width: 700px){
	.page-header h1 {
		font-size: 18px;
	}

	body {
		font-size: 12px;
	}

	.img-arrow {
		width: 10px;
		height: 8px;
	}
}

@media (min-width: 700px){
	.img-arrow {
		width: 20px;
		height: 15px;
	}
}

/* change width on main container */
.container-fluid {
	max-width: 800px;
}

/* add extra padding for picture on about me page */
.picture {
	padding-bottom: 10px;
}

/* style the text on about me page */
.letter {
	text-align: center;
}

/* hide slides that are not current slide */
.slide {
	display: none;
}

/* display current slide */
.current-slide {
	display: inline;
}

/* indicate that items on page are clickable */
.item {
  cursor: pointer;
}

.object {
	background: #F3F3F3;
	border: solid 1px;
	padding: 4px;
	margin: 1px;
}

.description {
	display: none;
	background: #E0E0E0;
	border-top: solid 1px;
	padding-top: 4px;
	padding-left: 0px;
	margin: -4px;
	margin-top: 2px;
}

.description-title {
	font-weight: bold;
}

.description-text {
	font-size: 12px;
}

/* menu */
nav {
	text-align: center;
	padding-top: 5px;
}

nav li {
	display: inline;
	list-style: none;
}

nav a {
	color: #000000;
	padding: 5px;
}

nav a:hover{
	color: #A0A0A0;
	text-decoration: none;
}

nav a:active, a:visited {
	color: #000000;
}

/* hide select menu on large displays */
nav select {
	display: none;
}

@media (max-width: 700px){
	nav ul {
		display: none;
	}

	/* show select menu on small displays */
	nav select {
		display: inline;
	}
}

/* slider navigation */
.slider-nav {
	padding-top: 10px;
	text-align: center;
}

.slider-nav a {
	display: inline-block;
	padding: 0px;
	font-size: 20px;
	text-decoration: none;
}

.slider-dots {
	list-style: none;
	display: inline-block;
	padding: 0px;
	vertical-align: middle;
}

.slider-dots li {
	display: inline;
	color: #000000;
	font-size: 20px;
}

.slider-dots li.current-dot {
	color: #A0A0A0;
}